* {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.jumbotron{ background: url(wew/images/back.png); background-size: 100% 110%;}
.navbar1 {font-weight: 500; color: black;}
